---
import { getCollection } from "astro:content";
import { Picture } from "@astrojs/image/components";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";

// Filter team entries with 'draft: false' & date before current date
const publishedTeamMembers = await getCollection("team", ({ data }) => {
  return !data.draft && data.publishDate < new Date();
});
---

<Layout title="关于我们">
  <Container>
    <Sectionhead>
      <Fragment slot="title">关于我们</Fragment>
      <Fragment slot="desc">我们是一个充满激情的小团队.</Fragment>
    </Sectionhead>

    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
      <h2 class="font-bold text-3xl text-gray-800">
        欢迎来到LeagueTool
      </h2>
      <p class="text-lg leading-relaxed text-slate-500">
        我们由一群热爱游戏的年轻人组成，拥有丰富的游戏经验和技术知识。致力于持续改进和优化平台，为用户提供更好的体验。我们希望每位玩家都能在LeagueTool中找到自己的游戏伙伴，一同征战召唤师峡谷，创造更多的游戏回忆和乐趣。
        <br/>
        如果您有任何问题或建议，请随时与我们联系。联系方式：github.com/good-ideal
      </p>
    </div>
   
  </Container>
</Layout>
