---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "开黑组队",
    description:
      "你可以轻松地与其他玩家组队开黑。通过智能匹配系统，你可以找到适合你游戏风格和水平的队友，让你在比赛中更加游刃有余.",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "聊天交流",
    description:
      "与其他玩家实时聊天。分享游戏心得、讨论游戏策略，还可以结识来自不同地区的游戏玩家，一同探讨最佳的游戏战术.",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "实时通知",
    description:
      "不错过任何一场重要的开黑邀请或聊天消息。LeagueTool会通过实时通知提醒你，确保你能及时回应游戏中的朋友.  ",
    icon: "bx:bxs-data",
  },
  {
    title: "个人资料展示",
    description:
      "展示你的游戏数据、段位和战绩。这不仅让你更容易找到适合的队友，也让其他玩家更容易找到你.",
    icon: "bx:bxs-bot",
  },
  {
    title: "敏感词屏蔽",
    description:
      "配备了敏感词屏蔽功能，确保聊天室中的信息始终保持友善和积极。我们致力于维护一个健康和谐的社区环境，让每一位玩家都能感受到快乐的游戏氛围.",
    icon: "bx:bxs-file-find",
  },
  {
    title: "表情包功能",
    description:
      "为了增加聊天的趣味性，内置了丰富多彩的表情包，让你在和队友交流时可以更生动有趣地表达情感.",
    icon: "bx:bxs-user",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    为什么选择LeagueTool
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    LeagueTool的开发者团队致力于提供一个用户友好、高效便捷的平台，帮助英雄联盟玩家更好地享受游戏乐趣。我们不断更新和改进软件，以确保您能获得最佳的社交体验.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
