---
import { SEO } from "astro-seo";
import Footer from "@components/footer.astro";
import Navbar from "@components/navbar/navbar.astro";
import "@fontsource/inter/variable.css";

export interface Props {
  title: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();

const resolvedImageWithDomain = new URL(
  "/opengraph.jpg",
  Astro.site
).toString();

const { title } = Astro.props;
const makeTitle = title
  ? title + " | " + "LeagueTool"
  : "组队开黑，畅享游戏乐趣 - LeagueTool";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

    <meta name="generator" content={Astro.generator} />

    <!-- <link rel="preload" as="image" href={src} alt="Hero" /> -->
    <SEO
      title={makeTitle}
      description="LeagueTool是一款专为英雄联盟玩家打造的综合社交平台。通过LeagueTool，您可以方便地找到合适的队友开黑，实时与其他玩家交流，分享游戏心得和策略。我们提供快捷喊话和表情包功能，让您在游戏中更高效地与队友沟通。加入LeagueTool，探索更多英雄联盟团队合作的可能，共同征战召唤师峡谷的精彩世界."
      canonical={canonicalURL}
      openGraph={{
        basic: {
          url: canonicalURL,
          type: "website",
          title: `Astroship - Starter Template for Astro`,
          image: resolvedImageWithDomain,
        },
        image: {
          alt: "Astroship Homepage Screenshot",
        },
      }}
      extend={{
        link: [{ rel: "icon", href: "/favicon.ico" }],
        meta: [
          {
            name: "keywords",
            content: "英雄联盟开黑,LeagueTool,英雄联盟组队工具,英雄联盟游戏社区,lol开黑,英雄联盟找队友",
          }
        ],
      }}
    />
  </head>
  <body>
    <Navbar />
    <slot />
    <Footer />
    <style is:global>
      /* Improve Page speed */
      /* https://css-tricks.com/almanac/properties/c/content-visibility/ */
      img {
        content-visibility: auto;
      }
    </style>
  </body>
</html>
